# Ignore Kaggle API key file
kaggle.json

# Ignore virtual environment folder
.venv/

# Ignore Python cache files and compiled bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data folder
data/

# Ignore environment variable files
.env
